@import "../global/variables.less";
@import "../mixins/mixins.less";

.additional {
  .container(@mobile-width);
  padding: 30px 20px;
  h2 {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: @black;

    &::after {
      position: absolute;
      content: "";
      transform: translate(23px, 15px) rotate(180deg);
      width: 53px;
      border: 2px solid @base-green;
    }
  }

  &__list {
    .reset-ul();
  }

  .goods-list__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid @special-grey;
    min-height: 130px;
    padding-bottom: 20px;

    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      color: @special-dark-grey2;
    }

    dl {
      display: flex;
      justify-content: space-between;

      dt,
      dd {
        .arial-font();
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
  &__offer {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 279px;
    height: 289px;
    background-image: url("../../img/photos/catalog/grumpy-cat-in-backpack.png");
    background-repeat: no-repeat;
    padding-bottom: 43px;
    padding-top: 43px;

    h3 {
      .arial-font();
      font-size: 16px;
      line-height: 20px;
      color: @white;
      text-align: center;
    }

    svg {
      justify-self: center;
    }
  }
}

@media (min-width: @tablet-width) {
  .additional {
    .container(@tablet-width);
    padding: 0 30px;
    h2 {
      font-size: 36px;
      line-height: 36px;
    }
    .goods-list__item {
      display: grid;
      grid-template-areas:
        "h3 dl"
        "button button";
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto;
      padding: 30px 38px;
      border-top: 1px solid #cdcdcd;

      h3 {
        grid-area: h3;
        font-size: 20px;
        line-height: 20px;
      }

      dl {
        font-size: 16px;
        grid-area: dl;
        align-self: center;
        justify-content: flex-end;
      }

      .accept-btn {
        grid-area: button;
      }
    }
    .additional__offer {
      position: relative;
      min-height: 200px;
      height: auto;
      margin-top: 58px;
      margin-bottom: 58px;
      padding: 0 30px;
      width: auto;
      background-image: url(../../img/photos/catalog/grumpy-cat-in-backpack-tablet.png);
      display: grid;
      grid-template-columns: 1fr 1fr;

      &::before {
        position: absolute;
        content: "";
        width: 707px;
        height: 200px;
        background-color: rgba(104, 183, 56, 0.85);
        top: 0;
        left: 0;
      }

      svg,
      h3 {
        z-index: 999;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .additional {
    .container(@desktop-width);
    position: relative;
    padding: 86px 110px;
    display: grid;
    grid-template-areas:
      "h2 h2"
      "ul img";
    grid-template-columns: 895px 278px;
    grid-template-rows: auto auto;
    gap: 45px;

    &::after,
    &::before {
      position: absolute;
      content: "";
      transform: translate(23px, 15px) rotate(180deg);
      border: 2px solid @base-green;
      background-color: @base-green;
    }
    &::after {
      width: 857px;
      right: 135px;
      top: 125px;
    }

    &::before {
      width: 70px;
      left: -22px;
      top: 125px;
    }
    .additional__offer {
      grid-area: img;
      grid-template-columns: auto;
      align-items: center;
      justify-content: center;
      min-height: 0;
      width: 279px;
      height: 289px;
      background-image: url("../../img/photos/catalog/grumpy-cat-in-backpack.png");
      background-repeat: no-repeat;
      margin: 0;

      &::before {
        display: none;
      }
    }
  }

  h2 {
    grid-area: h2;
    &::after {
      display: none;
    }
  }

  .goods-list {
    grid-area: ul;
    width: 895px;
    .goods-list__item {
      grid-template-areas: "h3 dl button";
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 72px;
      padding: 0;
      min-height: 0;

      h3 {
        grid-area: h3;
        align-self: center;
      }

      dl {
        grid-area: dl;
        justify-content: space-between;
      }

      .accept-btn {
        grid-area: button;
        width: 244px;
        height: 40px;
        align-self: center;
        justify-self: end;
      }
    }
  }
}
