@import "../global/variables.less";
@import "../mixins/mixins.less";

.catalog {
  .container(@mobile-width);

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-left: 20px;
  }
  &-list {
    .reset-ul();
  }
  &-list__item {
    display: grid;
    grid-template-areas:
      "img desc"
      "btn btn";
    grid-template-columns: 50% 50%;
    grid-template-rows: 140px 40px;

    row-gap: 20px;
    min-height: 209px;
    border-bottom: 1px solid @special-grey2;
    padding: 0 20px;


    .description__wrapper {
      grid-area: desc;
      display: grid;
      grid-template-rows: 50% 50%;
      width: 140px;

      h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: @special-dark-grey2;
        width: 75px;
      }

      dl {
        .arial-font();
        font-size: 12px;
        line-height: 16px;

        .dt__wrapper {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    img {
      display: flex;
      justify-self: center;
      align-self: center;
      grid-area: img;
    }

    button {
      grid-area: btn;
    }
  }
  &__more {
    .container(@mobile-width);
    padding: 25px 20px;
    border-bottom: 1px solid @special-grey2;

    .svg__wrapper {
      width: 280px;
      .to-center();

      button {
        .reset-btn();
      }
    }

    h3 {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: @special-black;
      text-align: center;
    }

    p {
      .arial-font();
      font-size: 12px;
      line-height: 16px;
      text-align: center;
    }

    button {
      font-size: 16px;
      line-height: 20px;
      .to-center();
      text-transform: uppercase;
      width: 100%;
      color: @special-dark-grey;
      padding: 10px 0;
      background-color: @base-grey;
      border: none;
      cursor: pointer;
    }
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    .container(@tablet-width);
    padding-left: 30px;
    padding-right: 30px;

    h2 {
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
    }

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      row-gap: 30px;

      &__item {
        min-height: 500px;

        grid-template-areas:
        'img'
        'desc'
        'btn';
        grid-template-columns: auto;
        grid-template-rows: auto;
        background: linear-gradient(to top, @base-grey 430px, transparent 300px);
        padding-left: 39px;
        padding-right: 39px;

        button {
          min-width: 248px;
          height: 40px;
        }

        .description__wrapper {
          width: auto;
          grid-template-rows: auto auto;

          h3 {
            align-self: center;
            justify-self: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            width: 130px;
            text-align: center;
          }

          dl {
            font-size: 16px;
            line-height: 16px;
            display: grid;
            gap: 10px;

            .dt__wrapper {
              padding-bottom: 10px;
              border-bottom: 1px solid #CDCDCD;
            }
          }
        }
      }
    }
  }
}
