@import "../global/variables.less";
@import "../mixins/mixins.less";

.description {
    .container(@mobile-width);
    h2 {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
    }
    &-list {
      .reset-ul();
      display: grid;
      grid-template-rows: auto auto auto auto;
      gap: 20px;

      &__item {
        display: grid;
        grid-template-columns: 60px auto;
        gap: 20px;

      p {
        .arial-font();
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .description {
    .container(@tablet-width);
    padding: 30px;
    &-list {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      column-gap: 153px;
      row-gap: 37px;
      padding-bottom: 50px;
      &__item {
        display: grid;
        grid-template-columns: auto;
        align-content: space-around;
        min-height: 280px;

        p {
          position: relative;
          font-size: 16px;
          line-height: 24px;
          width: 220px;
        }

        #icon-clock,
        #icon-water,
        #icon-leaf,
        #icon-fork {
          width: 80px;
          height: 80px;
        }
      }
      .first, .second, .third, .fourth {
          background-repeat: no-repeat;
          background-position: top right;
      }

      .first {
          background-image: url('../../img/svg/icon-one.svg');
          background-size: 112px 280px;
      }

      .second {
          background-image: url('../../img/svg/icon-two.svg');
          background-size: 134px 280px;
      }

      .third {
          background-image: url('../../img/svg/icon-three.svg');
          background-size: 134px 280px;
      }

      .fourth {
          background-image: url('../../img/svg/icon-four.svg');
          background-size: 136px 280px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .description {
    h2 {
      font-size: 60px;
      line-height: 60px;
    }
    .container(@desktop-width);
    padding: 0 110px;
    &-list {
      grid-template-columns: auto auto auto auto;
      gap: 100px;
      &__item {
        width: 220px;
      }
    }
  }
}
