@import "../global/variables.less";
@import "../mixins/mixins.less";

.description {
    .container(@mobile-width);
    h2 {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
    }
    &-list {
      .reset-ul();
      display: grid;
      grid-template-rows: auto auto auto auto;
      gap: 20px;

      &__item {
        display: grid;
        grid-template-columns: 60px auto;
        gap: 20px;

      p {
        .arial-font();
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .description {
    .container(@tablet-width);
    padding: 30px;
    &-list {
      grid-template-columns: auto auto;
      grid-template-rows: 230px 230px;
      column-gap: 153px;
      row-gap: 37px;
      &__item {
        display: grid;
        grid-template-columns: auto;
        align-content: space-around;
        p {
          position: relative;
          font-size: 16px;
          line-height: 24px;
          width: 220px;
          &::after {
            position: absolute;
            font-weight: 400;
            font-size: 280px;
            line-height: 280px;
            color: #F2F2F2;
          }
        }
        .first::after {
          content: '1';
        }

        .second::after {
          content: '2';
        }

        .third::after {
          content: '3';
        }

        .forth::after {
          content: '4';
        }
        #icon-clock,
        #icon-water,
        #icon-leaf,
        #icon-fork {
          width: 80px;
          height: 80px;
        }


      }
    }
  }
}
