@import "../global/variables.less";
@import "../mixins/mixins.less";

.example {
  &__wrapper {
    background: @special-grey3;
  }
  .container(@mobile-width);
  background: @special-grey3;
  padding: 20px 20px 38px;

  h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 36px;
    line-height: 40px;
  }
  p {
    .arial-font();
    font-size: 14px;
    line-height: 18px;
  }

  .statistics-list {
    .reset-ul();
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    padding-top: 6px;

    &__item {
      position: relative;
      display: grid;
      align-items: center;
      justify-content: center;
      min-width: 124px;
      min-height: 56px;
      border: 1px solid @special-grey;
      border-radius: 3px;

      strong {
        .to-center();
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
      }
    }
    .weight::after,
    .days::after {
      position: absolute;
      .arial-font();
      font-size: 12px;
      line-height: 12px;
      background-color: @special-grey3;
      text-align: center;
      width: 78px;
      bottom: -17px;
      left: 20px;
    }
    .weight::after {
      content: "снижение веса";
    }
    .days::after {
      content: "затрачено времени";
    }
  }

  h3 {
    margin-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  img {
    width: 280px;
    height: 256px;
    display: inline;
    margin-top: 5px;
  }
}

@media (min-width: @tablet-width) {
  .example {
    &__wrapper {
      background: linear-gradient(
        to top,
        rgba(234, 234, 234, 1) 463px,
        transparent 300px
      );
    }
    .container(@tablet-width);
    padding: 37px 30px 100px 30px;
    background: linear-gradient(to top, rgba(234, 234, 234, 1) 463px, transparent 300px);
    display: grid;
    grid-template-areas:
      "h2 h2"
      "p p"
      "ul h3"
      "img img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    .statistics-list {
      margin-bottom: 100px;
      grid-template-columns: 162px 162px;
      gap: 42px;
      margin-top: 32px;
      .weight::after,
      .days::after {
        background-color: @white;
        left: 10px;
        bottom: -8px;
        width: 128px;
        .arial-font();
        font-size: 14px;
        line-height: 14px;
      }

      .days::after {
        width: 140px;
      }
    }
    h2 {
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      grid-area: h2;
    }
    p {
      padding-top: 9px;
      width: 676px;
      font-size: 16px;
      line-height: 24px;
      grid-area: p;
    }
    ul {
      grid-area: ul;
    }
    h3 {
      grid-area: h3;
      margin-top: 45px;
      margin-left: auto;
      text-align: end;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      width: 180px;
    }
    picture {
      grid-area: img;
      justify-self: center;
      align-self: center;
    }
    img {
      width: 560px;
      height: 512px;
      display: block;
      margin-top: 4px;
    }

    .statistics-list__item {
      min-width: 162px;
      height: 72px;

      strong {
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    &__wrapper {
      background: linear-gradient(to top, rgba(242, 242, 242, 1);
 462px, transparent 300px);
    }
    .container(@desktop-width);
    border-top: none;
    padding-left: 103px;
    padding-right: 103px;
    padding-bottom: 50px;
    background: linear-gradient(to top, rgba(242, 242, 242, 1);
 462px, transparent 300px);

    grid-template-areas:
      "h2 img"
      "p img"
      "ul img"
      "h3 img";
    grid-template-columns: 33% 66%;
    grid-template-rows: 150px 170px auto auto;

    column-gap: 129px;

    p {
      margin-top: 52px;
      width: 433px;
    }

    img {
      margin-top: 4px;
      display: grid;
      align-self: center;
      justify-self: center;
    }

    h3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: auto;
      text-align: start;
      margin-left: 0;
      margin-top: 55px;
      font-size: 20px;
      justify-self: start;
      span {
        justify-self: end;
      }
    }

    .statistics-list {
      margin-bottom: 0;
      margin-top: 49px;

      .weight::after,
      .days::after {
        background-color: rgba(242, 242, 242, 1);
      }

      .weight::after {
        left: 15px;
      }

      .days::after {
        left: 10px;
      }
    }
  }
}
