@import "../global/variables.less";
@import "../mixins/mixins.less";

.footer {
  .container(@mobile-width);
  background-color: @base-grey;
  display: grid;
  gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 20px;

  .social-list {
    .reset-ul();
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .academy-links {
    .reset-ul();
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    a {
      .arial-font();
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@media (min-width: @tablet-width) {
  .footer {
    .container(@tablet-width);
    min-height: 147px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;

    &__logo {
      justify-self: start;
    }

    .academy-links {
      grid-template-columns: auto auto;
      justify-content: end;
      gap: 22px;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer {
    .container(@desktop-width);
    padding: 0 110px;
    min-height: 149px;
  }
}
