@import '../global/variables.less';
@import '../mixins/mixins.less';
@import '../inputs/checkboxes.less';
@import '../inputs/radio-btns.less';
@import '../inputs/email-phone.less';

.form {
  .container(@mobile-width);
  padding: 0 20px;

  h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: @black;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: @black;
  }

  button {
    width: 100%;
  }

  fieldset {
    border: none;
    border-bottom: 1px solid @light-grey;
    display: grid;
    padding: 0;
    gap: 13px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    legend {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 15px;
    }


    label {
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: @special-dark-grey;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;

      input {
        border: 1px solid @light-grey2;
        height: 45px;
        padding-left: 14px;

        &::placeholder {
          font-size: 16px;
          line-height: 18px;
          color: @special-dark-grey;
          text-transform: uppercase;
        }
      }
    }
  }
}

