@import "../global/variables.less";
@import "../mixins/mixins.less";

.header {
  .container(@mobile-width);
  z-index: 999;
  position: relative;
  padding: 0 20px;

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    min-height: 66px;
    padding-bottom: 5px; //pixel-perfect
  }
  &__logo {
    justify-self: start;
    background-image: url("../../img/svg/logo-mobile.svg"),
      url("../../img/svg/logo-mobile-words.svg");
    background-position: left, right;
    background-repeat: no-repeat;
    width: 190px;
    height: 37px;

    @media (min-width: @tablet-width) {
      background: url("../../img/svg/logo-tablet.svg");
      width: 174px;
      height: 52px;
    }

    @media (min-width: @desktop-width) {
      background: url("./../../img/svg/logo-desktop.svg");
      width: 202px;
      height: 60px;
    }
  }

  &__toggler {
    .reset-btn();
    position: relative;
    justify-self: end;

    &--hamburger::before,
    &--close::after {
      position: absolute;
      content: "";
      top: -9px;
      left: -10px;
    }

    &--hamburger::before {
      width: 24px;
      height: 18px;
      background-image: url("../../img/svg/icon-hamburger.svg");
    }

    &--close::after {
      width: 20px;
      height: 20px;
      background-image: url("../../img/svg/icon-decline.svg");
    }
  }
}

.nav {
  .container(@mobile-width);
  position: absolute;
  top: 65px;
  left: 0;
  background-color: @white;

  &-list {
    .reset-ul();
    &__item {
      .to-center();
      min-height: 66px;
      border-top: 1px solid @light-grey3;

      &:last-child {
        border-bottom: 1px solid @light-grey3;
      }
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: @black;
      }
    }
  }

  &--closed {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .header {
    padding: 18px 30px;
    .container(@tablet-width);
    display: grid;
    grid-template-columns: auto 1fr;

    &__toggler {
      display: none;
    }

    .nav {
      background-color: transparent;
      width: auto;
      margin: 0;
      position: static;

      &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 36px;

        &__item {
          border: none;

          &--active {
            position: relative;

            &::before {
              position: absolute;
              content: "";
              height: 2px;
              background: @base-green;
              right: 0;
              left: 0;
              bottom: 10px;
            }
          }
          a {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      &--closed {
        display: block;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding: 52px 110px;
    .container(@desktop-width);
    grid-template-columns: 1fr 1fr;
    .nav {
      &-list {
        justify-content: flex-end;
        gap: 35px;
        &__item {
          &--active {
            &::before {
              background: @white;
            }
          }
          a {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: @white;
          }
        }
      }
    }
  }
}
