@import '../global/variables.less';
@import '../mixins/mixins.less';

.header {
  position: relative;

  &__logo--tablet {
    display: none;
  }
   &__wrapper {
    .container(@mobile-width);
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    padding: 0 20px;
  }
  &__logo {
    justify-self: center;
  }

  &__toggler {
    .reset-btn();
  }
}

.nav {
  .container(@mobile-width);

  &-list {
    .reset-ul();
    &__item {
      .to-center();
      min-height: 66px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      border-top: 1px solid #E6E6E6;

      a {
        color: @black;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .header {
    padding: 24px 30px;
    .container(@tablet-width);
    display: grid;
    grid-template-columns: 33% 66%;

    &__logo--tablet {
      display: block;
    }

    &__logo,
    &__toggler {
      display: none;
    }

    .nav {
      width: auto;
      margin: 0;
        &-list {
          display: flex;
          align-items: center;
          justify-content: end;
          column-gap: 10px;
        &__item {
          font-size: 18px;
          line-height: 24px;
          border: none;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding: 55px 110px;
    .container(@desktop-width);
    grid-template-columns: 50% 50%;
    .nav {
    background-color: @base-green;
      &-list {
        justify-content: center;
        &__item {
          &--active {
            a {
              border-bottom: 2px solid @white;
            }
          }
          a {
          color: @white;
          }
        }
      }
    }
  }
}

