@import "../mixins/mixins.less";
@import "../global/variables.less";

.programms {
  .container(@mobile-width);
  padding: 20px;
  margin-top: -138px; //Не знаю, откуда берется разрыв

  &-list {
    .reset-ul();
    display: grid;
    gap: 20px;

    &__item {
      position: relative;
      min-height: 266px;
      background-color: @base-grey;
      padding: 0 20px;
      display: grid;
      grid-template-areas:
        "svg h2"
        "p p"
        "a a";
      grid-template-columns: 21% 1fr;
      grid-template-rows: 80px auto auto;
      gap: 20px;
      h2 {
        grid-area: h2;
        display: grid;
        align-items: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 37px;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      p {
        grid-area: p;
        .arial-font();
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        margin-top: -3px;
      }

      a {
        grid-area: a;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        align-self: center;
        gap: 15px;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: @black;
        margin-bottom: 15px;
        &:hover {
          opacity: 0.6;
        }
        &:active, &:focus {
          opacity: 0.3;
        }
        svg {
          align-self: center;
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: 240px;
        height: 1px;
        background: @light-grey;
        left: 20px;
        bottom: 57px;
      }
      #green-cat-1,
      #green-cat-2 {
        grid-area: svg;
        display: grid;
        justify-self: start;
        align-self: end;
      }
      #green-cat-1 {
        margin-bottom: 5px;
        margin-left: 2px; //Pixel-perfect
      }
      #green-cat-2 {
        margin-left: -7px;
        margin-bottom: 5px;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .programms {
    .container(@tablet-width);
    padding: 14px 30px 0 30px;

    &-list {
      gap: 30px;
      &__item {
        padding-left: 52px;
        padding-bottom: 57px;
        padding-top: 40px;

        grid-template-columns: 55% 45%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "h2 svg"
          "p svg"
          "a svg";

        min-height: 372px;

        #green-cat-1 {
          grid-area: svg;
          width: 200px;
          height: 211px;
          justify-self: start;
          align-self: start;
          margin-top: 40px;
          margin-left: 23px;
        }
        #green-cat-2 {
          grid-area: svg;
          width: 268px;
          height: 200px;
          justify-self: start;
          align-self: start;
          margin-top: 51px;
          margin-left: -12px;
        }
        h2 {
          font-size: 36px;
          line-height: 36px;
        }
        p {
          margin-top: -8px;
          width: 340px;
          font-size: 16px;
          line-height: 24px;
        }
        a {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: -10px;
          gap: 25px;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .programms {
    .container(@desktop-width);
    padding: 58px 110px 0;

    &-list {
      grid-template-columns: auto auto;
      gap: 80px;
      &__item {
        grid-template-areas:
          "svg h2"
          "p p"
          "a a";
        grid-template-columns: 30% auto;
        grid-template-rows: auto auto auto;
        min-width: 570px;
        min-height: 374px;
        padding: 0;
        padding-left: 52px;
        padding-bottom: 66px;

        #green-cat-1 {
          grid-area: svg;
          width: 100px;
          height: 106px;
          margin: 0;
          margin-top: 40px;
        }

        #green-cat-2 {
          grid-area: svg;
          width: 134px;
          height: 100px;
          margin: 0;
          margin-top: 45px;
          margin-left: -18px;
        }
        h2 {
          margin-left: -14px;
          margin-top: 29px;
        }
        p {
          margin-top: 15px;
          width: 462px;
        }
        a {
          gap: 29px;
        }
      }
    }
  }
}
