@import '../mixins/mixins.less';
@import '../global/variables.less';

.programms {
  .container(@mobile-width);
  padding: 20px;
  &-list {
    .reset-ul();
    display: grid;
    gap: 20px;

    &__item {
      min-height: 266px;
      background-color: rgba(217, 217, 217, 1);
      padding: 0 20px;
      display: grid;
      grid-template-areas:
      'svg h2'
      'p p'
      'a a';
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto auto auto;

      h2 {
        grid-area: h2;
        display: grid;
        align-items: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 37px;
        text-transform: uppercase;
      }
      p {
        grid-area: p;
        .arial-font();
        font-size: 14px;
        line-height: 18px;
      }

      a {
        grid-area: a;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        align-self: center;
        gap: 17px;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: @black;
        svg {
          align-self: center;
        }
      }
      .icon-cat {
        grid-area: svg;
        display: grid;
        justify-self: start;
        align-self: center;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .programms {
    .container(@tablet-width);
    padding: 30px;

    &-list {
      gap: 30px;
      &__item {
        padding-left: 52px;
        padding-bottom: 57px;
        padding-top: 40px;
        grid-template-areas:
        'h2 svg'
        'p svg'
        'a svg';
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto auto;

        .icon-cat {
          justify-self: center;
          align-self: center;
        }
        #black-cat {
          width: 200px;
          height: 211px;
        }
      }
    }
  }
}
