@import "../mixins/mixins.less";
@import "../global/variables.less";

.programms {
  .container(@mobile-width);
  padding: 20px;
  &-list {
    .reset-ul();
    display: grid;
    gap: 20px;

    &__item {
      min-height: 266px;
      background-color: rgba(217, 217, 217, 1);
      padding: 0 20px;
      display: grid;
      grid-template-areas:
        "svg h2"
        "p p"
        "a a";
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto auto auto;

      h2 {
        grid-area: h2;
        display: grid;
        align-items: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 37px;
        text-transform: uppercase;
      }
      p {
        grid-area: p;
        .arial-font();
        font-size: 14px;
        line-height: 18px;
      }

      a {
        grid-area: a;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        align-self: center;
        gap: 17px;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: @black;
        svg {
          align-self: center;
        }
      }
      #green-cat-1,
      #green-cat-2 {
        grid-area: svg;
        display: grid;
        justify-self: start;
        align-self: center;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .programms {
    .container(@tablet-width);
    padding: 30px;

    &-list {
      gap: 30px;
      &__item {
        padding-left: 52px;
        padding-bottom: 57px;
        padding-top: 40px;
        padding-right: 40px;
        grid-template-areas:
          "h2 svg"
          "p svg"
          "a svg";
        grid-template-columns: 55% 45%;
        grid-template-rows: auto auto auto;
        min-height: 372px;

        #green-cat-1 {
          grid-area: svg;
          width: 200px;
          height: 211px;
          justify-self: center;
          align-self: center;
        }
        #green-cat-2 {
          grid-area: svg;
          width: 268px;
          height: 200px;
          justify-self: center;
          align-self: center;
        }
        h2 {
          font-size: 36px;
          line-height: 36px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
        a {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .programms {
    .container(@desktop-width);
    padding: 0 110px;
    &-list {
      grid-template-columns: auto auto;
      gap: 110px;
      &__item {
        grid-template-areas:
          "svg h2"
          "p p"
          "a a";
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto auto;

        #green-cat-1 {
          grid-area: svg;
          width: 100px;
          height: 106px;
          align-self: center;
          justify-self: start;
        }

        #green-cat-2 {
          grid-area: svg;
          width: 134px;
          height: 100px;
          align-self: center;
          justify-self: start;
        }
      }
    }
  }
}
