@import "../global/variables.less";
@import "../mixins/mixins.less";

.promo {
  .container(@mobile-width);
  position: relative;

  &__background-image {
    position: relative;
    min-height: 302px;
    background-image: url("../../img/photos/bg-cat/bg-cat.webp");
    background-size: 320px 302px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/photos/bg-cat/bg-cat@2x.webp");
    }

    &--color {
      min-height: inherit;
      background-color: @cover-green;
      padding-top: 27px;
    }

    p {
      .to-center();
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: @white;
      padding-top: 11px; //Очень плохое решение
    }
    h2 {
      padding: 0;
      margin: 0;
      font-weight: 400;
      text-align: center;
      font-size: 36px;
      line-height: 36px;
      color: @white;
    }
  }
  &__can-img {
    position: absolute;
    top: 167px;
    left: 20px;
  }

  a {
    .to-center();
    padding: 7px 44px;
    margin: 138px 20px;
    min-height: 40px;
    font-size: 14px;
    line-height: 18px;
    background: @base-green;
    text-transform: uppercase;
    color: @white;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    .container(@tablet-width);
    background: no-repeat url("../../img/photos/promo-can/promo-can-tablet.png")
      29px 235px;
    padding: 7px 117px 0;
    position: relative;
    min-height: 830px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/photos/promo-can/promo-can-tablet@2x.png");
      background-size: 709px 609px;
    }

    &__background-image {
      background-image: none;

      &--color {
        background-color: transparent;
      }
    }

    p,
    h2 {
      display: block;
      text-align: start;
      color: @black;
    }

    h2 {
      font-size: 60px;
      line-height: 60px;
    }

    p {
      margin-top: 30px;
      padding-left: 2px; //pixel-perfect
      font-size: 20px;
      line-height: 20px;
    }

    a {
      position: absolute;
      display: inline-flex;
      font-size: 20px;
      line-height: 20px;
      padding: 17px 26px;
      top: 126px;
      left: 100px;
    }
    &__can-img {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo {
    .container(@desktop-width);
    min-height: 549px;
    background-image: none;
    padding: 25px 190px;

    .desktop-bg {
      position: absolute;
      width: 720px;
      height: 744px;
      top: -220px;
      right: 0;
      background: url("../../img/photos/bg-cat/bg-cat-desktop.png") no-repeat
        bottom left;

      @media (min-resolution: 2dppx) {
        background: url("../../img/photos/bg-cat/bg-cat-desktop@2x.png")
          no-repeat bottom left;
        background-size: 720px 696px;
      }

      &::before {
        content: "";
        width: 720px;
        height: 744px;
        background-color: rgba(104, 183, 56, 0.85);
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 552px;
      height: 499px;
      background-image: url("../../img/photos/promo-can/promo-can-desktop.png");
      @media (min-resolution: 2dppx) {
        background-image: url("../../img/photos/promo-can/promo-can-desktop@2x.png");
      }
      background-size: 552px 499px;
      left: 558px;
      top: -29px;
    }
    h2 {
      width: 436px;
    }
    p {
      padding-left: 1px; //Pixel-perfect
    }
    a {
      top: 146px;
      left: 170px;
    }
  }
}
