.form {
  &__inputs-5 {
    display: grid;
    gap: 25px;
  }
}

.checkboxes {
  &__label {
    position: relative;
    display: grid;
    align-items: center;
    margin-left: 40px;

    &::before {
      position: absolute;
      content: "";
      width: 26px;
      height: 26px;
      border: 1px solid @special-grey;
      left: -40px;
    }
    &::after {
      position: absolute;
      display: none;
      content: "";
      width: 19px;
      height: 15px;
      background: url("../../img/svg/checked.svg");
      background-size: 19px 15px;
      background-repeat: no-repeat;
      left: -35px;
    }
  }
}

#sugarChanger:checked + .checkboxes__label::after,
#water:checked + .checkboxes__label::after,
#milk:checked + .checkboxes__label::after,
#vitamins:checked + .checkboxes__label::after {
  display: block;
}
