@import "../global/variables.less";

.form {
  &__inputs-1 {
    display: grid;
    gap: 20px;
    border-bottom: 1px solid @light-grey;
  }
}

.labels-1 {
  &__name,
  &__weight,
  &__age {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    input {
      margin-left: 12px;
    }
  }
}
