section.contacts
    h2 приглашаем к сотрудничеству дилеров!
    address ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
    h2.visually-hidden Карта
    img(src="./img/photos/map.png", alt="Карта")
    img(src="./img/photos/superCat.png", alt="Иконка логотипа, показывающая местонахождение магазина")
