-
  var descriptions = [{
    path: './img/svg/icons.svg#icon-leaf',
    description: 'Функциональное питание содержит только полезные питательные вещества.'
    },{
    path: "./img/svg/icons.svg#icon-water",
    description: 'Выпускается в виде порошка, который нужно лишь залить кипятком и готово.'
    },{
    path: "./img/svg/icons.svg#icon-fork-knife", description: 'Замените один-два приема обычной еды на наше функциональное питание.'
    },{
    path:"./img/svg/icons.svg#icon-alarm",
    description: 'Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!'
  }];

section.description
  .description__wrapper
    h2 Как это работает
    ul(class="description__list description-list")
      each description in descriptions
        li.description-list__item
          svg(width="61" height="60"): use(xlink:href=description.path)
          p=description.description



