section.example
  .example__wrapper
    h2 Живой пример
    p Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
    dl.example__statistics
      dt 5 КГ
        dd снижение веса
      dt 60 ДНЕЙ
        dd затрачено времени
    h3 Затраты на питание: 15 000 РУБ.
    img(src="./img/photos/fat-cat.png" alt="Very fat cat")
    .example__progress
      span Было
      svg(width="86" height="14")
        use(xlink:href="./img/svg/icons.svg#icon-progress")
      span Стало

