- var d = 200;
section(class="form" aria-label="Информация о вашем питомце")
    h2 Подбор программы
    p Заполните анкету, и мы подберем программу питания для вашего кота
    form(action="https://echo.htmlacademy.ru" method="post")
        fieldset
            legend.visually-hidden Your cat's data
            label Имя:*
                input#name(type="text" name="name" placeholder="БАРСИК" required)
            label Вес (кг):*
                input#weight(type="number" name="weight" placeholder="7" required)
            label Возраст (лет)
                input#age(type="number" name="age" placeholder="7")
        fieldset
            legend.visually-hidden Options
            label.checkbox-label Похудение
                input#starving(class="visually-hidden" type="checkbox" name="starving" checked)
            label.checkbox-label  Набор массы
                input#gaining(class="visually-hidden" type="checkbox" name="gaining")
            label.checkbox-label Не знаю (Нужен ваш совет)
                input#notKnow(class="visually-hidden" type="checkbox" name="notKnow")
        fieldset
            legend.visually-hidden Контактные данные (владельца кота)
            label E-mail:*
                input#email(type="email" name="email" placeholder="kuklachev@gmail.com" required)
                svg(width="20" height="15")
                    use(xlink:href="./img/svg/icons.svg#icon-mail")
            label Телефон:*
                input#phone(type="tel" name="phone" placeholder="8 (960) 900-60-90" required)
                svg(width="20" height="21")
                    use(xlink:href="./img/svg/icons.svg#icon-phone")
        fieldset
            legend Комментарий
            label(aria-label="Tell us about your cat's habits")
                textarea#message(name="message" placeholder="Расскажите обо всех повАдках кота")
        fieldset
            legend Дополнительно
            input#sugarChanger(class="visually-hidden" type="radio" name="sugarChanger")
            label(for="sugarChanger" class="radio-label") Cахарозаменитель
            input(type="checkbox", id="check")
            label(for="check", style='--d: '+d+'px')
                svg(viewBox=[0, 0, 50, 50].join( ))
                    path(d="M6 26 L 20 40 L 45 10")

            //- label.radio-label Питьевая вода
            //-     input#water(class="visually-hidden" type="radio" name="water")
            //- label.radio-label Молоко
            //-     input#mil(class="visually-hidden" type="radio" name="milk" checked)
            //- label.radio-label Витамины
            //-     input#vitamins(class="visually-hidden" type="radio" name="vitamins")
        button(type="submit") Отправить заявку
    span * — Обязательные поля


