section(class="promo" aria-label="Промо программа")
    .promo__background-wrapper
        .some-wrapper
        h2 Функциональное питание для котов
        p Занялся собой? Займись котом!
    img(class="promo__can-img" src="./img/photos/promo-food.png" alt="Банка с едой кота" width="280px" height="270px")
    a(href="./form.html") Подобрать программу
