section(class="promo" aria-label="Промо программа")
    .promo__wrapper
        p.promo__slogan Занялся собой? Займись котом!
        img(src="./img/photos/backgroundCat.png" alt="Фотография кота")
        img(src="./img/photos/promo-food.png" alt="Банка с едой кота")
        a(href="./form.html") Подобрать программу
