fieldset(class="form__inputs-5 checkboxes")
  legend(class="checkboxes__legend") Дополнительно
  input#sugarChanger(class="visually-hidden" type="checkbox" name="sugarChanger")
  label(for="sugarChanger" class="checkboxes__label") Cахарозаменитель
  input#water(class="visually-hidden" type="checkbox" name="water")
  label(for="water" class="checkboxes__label") Питьевая вода
  input#milk(class="visually-hidden" type="checkbox" name="milk" checked)
  label(for="milk" class="checkboxes__label") Молоко
  input#vitamins(class="visually-hidden" type="checkbox" name="vitamins" checked disabled)
  label(for="vitamins" class="checkboxes__label") Витамины

