fieldset(class="form__inputs-3 inputs-3")
  legend(class="inputs-3__legend") Контактные данные (владельца кота)
  label(for="email" class="email-label") E-mail:*
    input#email(type="email" name="email" placeholder="kuklachev@gmail.com" required)
    svg(width="20" height="15")
      use(href="./img/svg/icons.svg#icon-mail")
  label(for="phone" class="phone-label") Телефон:*
    input#phone(type="tel" name="phone" placeholder="8 (960) 900-60-90" required)
    svg(width="20" height="21")
      use(href="./img/svg/icons.svg#icon-phone")
