fieldset(class="form__inputs-2")
  legend.visually-hidden Options
  input#starving(class="visually-hidden" type="radio" name="program" checked)
  label(for="starving" class="radio-label") Похудение
  input#gaining(class="visually-hidden" type="radio" name="program")
  label(for="gaining" class="radio-label") Набор массы
  input#notKnow(class="visually-hidden" type="radio" name="program")
  label(for="notKnow" class="radio-label") Не знаю (Нужен ваш совет)
