fieldset(class="form__inputs-4 textarea")
  legend(class="textarea__legend") Комментарий
  label(aria-label="Tell us about your cat's habits")
    textarea#message(name="message" placeholder="Расскажите обо всех повАдках кота")
