.footer__wrapper
  footer.footer
    a(class="footer__logo" href="index.html")
      svg(width="128" height="24" aria-label="Логотип магазина")
        use(href="./img/svg/icons.svg#logo-words")
    ul(class="footer__social-list social-list")
      li.social-list__item
        a(href="https://vkontakte.com" aria-label="Иконка ВКонтакте" target="_blank" rel="nofollow noopener")
          include ../../../img/svg/icon-vk.svg
      li.social-list__item
        a(href="https://youtube.com" aria-label="Иконка Youtube" target="_blank" rel="nofollow noopener")
          include ../../../img/svg/icon-youtube.svg
      li.social-list__item
        a(href="https://telegram.com" aria-label="Иконка ВКонтакте" target="_blank" rel="nofollow noopener")
          include ../../../img/svg/icon-telegram.svg
    ul(class="footer__academy-links academy-links")
      li.academy-links__item
        a(href="https://htmlacademy.ru" rel="nofollow noopener") HTML Academy
      li.academy-links__item
        a(href="https://htmlacademy.ru" rel="nofollow noopener")
          include ../../../img/svg/html-academy.svg
