header.header
    .header__wrapper
        a(class="header__logo--tablet" href='./index.html' aria-label="Логотип магазина")
            svg(width="174" height="52")
                use(xlink:href="./img/svg/icons.svg#logo-tablet")
        a(class="header__logo" href='./index.html' aria-label="Логотип магазина")
            svg(width="34" height="38")
                use(xlink:href="./img/svg/icons.svg#logo")
        a(class="header__logo" href="./index.html" aria-label="Логотип магазина")
            svg(width="128" height="24")
                use(xlink:href="./img/svg/icons.svg#logo-words")
        button(class="header__toggler" type="button" aria-label="Кнопка открытия меню")
            svg(width="24" height="18")
                use(xlink:href="./img/svg/icons.svg#hamburger")
    nav.nav
        ul(class="nav__list nav-list")
            li(class="nav-list__item nav-list__item--active")
                a(href="./index.html") Главная
            li(class="nav-list__item")
                a(href="./catalog.html") Каталог продукции
            li(class="nav-list__item")
                a(href="./form.html") Подбор программы
