head
  meta(charset="utf-8" lang="ru")
  title Cat's energy
  meta(content="width=device-width, initial-scale=1" name="viewport")
  meta(content="ie=edge" http-equiv="x-ua-compatible")
  meta(name="description" content="Сайт производителя кошачьего корма")
  link(rel="preload" href="css/style.min.css" as="style")
  link(rel="icon" href="img/favicons/favicon-32.svg" type="image/svg+xml")
  link(rel="icon" href="favicon-32.ico")
  link(rel="apple-touch-icon" href="img/favicons/favicon-apple-180.png")
  link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
  link(rel="manifest" href="site.webmanifest")
